* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: khushii 4s cubic-bezier(0.19, 1, 0.22, 1) 2s  both;
}

 .khu {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

 label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

} 
body{
    perspective:600px;
} 
.khu:hover{
    background-color:rgba(73, 162, 217, 0.358);
    border-radius:20px;
    border-style:dotted;
    transform:scale(1.5);
    /* transform:translate3d(300px,400px,300px); */
    
}
button,input:focus{

    border-radius:20px;
}
button{
    background-color: chartreuse;
    width:100%;
    padding:10px;
    margin-top:20px;
}
button:active{
    background-color:white;
    

}

button:hover{
    transform:rotate(180deg);
}


